<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width" />
  <!-- Document meta -->
  <title>Capterra CSS Styleguide</title>
  <!-- Viewport settings -->
  <meta content="width=device-width" name="viewport">
  <!-- Typekit fonts -->
  <script type="text/javascript" src="//use.typekit.net/akr8frk.js"></script>
  <style type="text/css">.tk-myriad-pro{font-family:"myriad-pro",sans-serif;}</style>
  <!--link rel="stylesheet" href="http://use.typekit.net/c/87fb82/myriad-pro:i4:i7:n4:n6:n7.Xc8:N:2,Xc3:N:2,XcH:N:2,XcJ:N:2,Xc0:N:2/d?3bb2a6e53c9684ffdc9a98f71a5b2a621db4f2d615af7da3613b43ed1abc7999036eb4e0f0798e93fb23161de8ad2f9a3dc34b6cb401128d886d4c05fac8e13a7908dd3937a95c9259a60ecbfb818d58ace1acbd41f78a1ec8c345c4ebfa0eaf7b8f05000bfc07cc163596379743b12c7e76ade58e9e539e9fb5839a61f34da60ce7a450444abb9cbff765c36d4194b08ae0b5511139c9eb0ee0a73092af59758785c84dad79eca103626f45c5667b8f8d3518b521e7ca35278f048fbf6229cae37dd187373b1e54a56b766c1bf33ebf4def"-->
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- Stylesheets -->
  <link href="http://cdn1.capterra-static.com/assets/application.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/styleguide.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <%= erb :content %>
</body>



</html>